#divconteneur
{
    background-color: #aaa;
    width: 955px;
    height: 600px;
    position:relative;
    font-family: sans-serif, Arial;
    
}

.legendeDiv
{
    width: 90px;
    display: inline-block;
}

.name-coque
{
    display: inline-block;
}

.name-coque a, .name-bateau 
{
    text-decoration: underline;
    color: #006cb0;
    font-size: 15px;
    cursor: pointer;
}

.legende, .legendephoto
{
    text-align: center;
    width: auto;
    background-color: #000;
    border-bottom: 1px solid #fff;
    padding: 5px;
}

#divcarte
{
    background-color: #191919;
    color: #fff;
    position: absolute;
    width: 955px;
    height: 600px;
    z-index: 1;
}

#divclasse
{
    position: absolute;
    z-index: 2;
    background-color: #151515;
    color:#fff;
    width: 200px;
    min-height: 100px;
    top:10px;
    left:10px;
}

#divlistebataeux
{
    position: absolute;
    z-index: 2;
    background-color: #151515;
    color:#fff;
    width: 200px;
    min-height: 425px;
    max-height: 425px;
    bottom: 10px;
    left: 10px;
    overflow: auto; 
}

#tabBateaux{
    max-height: 425px;
    overflow: auto; 
}


#showBateaux{
    overflow: auto;
    max-height: 405px;
}


#divphotoskipper
{
    position: absolute;
    z-index: 2;
    background-color: #151515;
    color:#fff;
    width: 150px;
    min-height: 50px;
    top: 10px;
    right: 10px;
}

#divphotobateau
{
    position: absolute;
    z-index: 2;
    background-color: #151515;
    color:#fff;
    width: 250px;
    min-height: 50px;
    right: 10px;
    bottom: 10px;
}

#show-photo-skipper img
{
    width: 150px;
    max-height: 200px;
}

#info-skipper, #info-bateau
{
    font-size: 13px;
    text-align: center;
}
