/* 
    TP liste des pays d'Europe (extrait) sans utiliser de Bdd.
    Feuille de style des pages Web.  
    Created on : 1 juin 2019, 17:38:59
    Author     : Daniel
*/
body {
    background-color: cornsilk;
    font-family: Times new roman, Arial, Verdana, sans-serif;
}


h1 {
    font-size: 4em;
    font-weight: bold;
    text-align: center;
    color: blue;
}

/******************************************************************************
*    tableau contenant la liste des pays
*/

table {
    border-collapse: collapse;
    margin: auto;
}

table thead {
    font-size: 2em;
    background-color: aquamarine;
}

table thead td {
    width: 200px;
    height: 80px;
    padding: 8px;
    border: 2px black solid;
    text-align: center;
    color: red;
    font-weight: bold;
}
table tbody tr td {
    padding: 8px;
    border: 2px black solid;
    text-align: center;
    color: black;
    font-weight: bold;  
    font-size: 1.5em;
}

/******************************************************************************
*    Page de détails sur un pays (drapeau pour l'instant)
*/
#divDrapeau {
    border: red 3px solid;
    border-radius: 10px;
    margin: 50px;
    padding: 20px;
    font-size: 1.5em;
    font-style: italic;
    float: left;
    display: inline-block;
}

 #divDrapeau h2 {
    font-size: 2em;
    font-weight: bold;
    color: coral;
    text-decoration: underline;
    text-align: left;
    padding-left: 20px;
    margin-top: 20px;
}

 #divDrapeau img {
    margin-left: 80px;
    margin-right: 20px;
    margin-bottom: 20px;
    width: 300px;
    border: black 1px solid;
}


p{
    text-align: justify;
    display: inline-block;
    width: 800px;
}



